img {
	max-height: 150px;
	width: auto;
}


h2{
  font-family: 'QuickSand', sans-serif !important;
}


/* Coller le pied de page en bas */
html {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
